# Antes de empezar:
- Lee el archivo README.md
- Comenta tanto como puedas y utiliza los recursos (archivo README.md)
- ¡Feliz aprendizaje!

In [21]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta, stats
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

from scipy import stats

# Reto 1 - Explorando los Datos

En este reto, examinaremos todos los salarios de los empleados de la Ciudad de Chicago. Comenzaremos cargando el conjunto de datos y examinando su contenido.

In [5]:
!pwd

/home/biomedmax/github/lab-hypothesis-testing-es/your-code

In [7]:
# Run this code:
salaries = pd.read_csv('/home/biomedmax/github/lab-hypothesis-testing-es/data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examina el conjunto de datos `salaries` utilizando la función `head` que se muestra a continuación.

In [10]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Reto 2 - Pruebas de Hipótesis

En esta sección del laboratorio, vamos a probar si el salario por hora de todos los trabajadores por hora es significativamente diferente de $30/hora. Importa la función correcta para la prueba de una muestra desde scipy y realiza la prueba de hipótesis para un intervalo de confianza de dos lados del 95%.

In [56]:
np.mean(salaries["Hourly Rate"])
np.std(salaries["Hourly Rate"])

12.111817701093825

In [57]:
samples_array = salaries["Hourly Rate"].dropna()

In [58]:
samples_array = np.array(samples_array)
print(samples_array)

sample_mean = np.mean(samples_array)
sample_std_dev = np.std(samples_array)
sample_size = len(samples_array)

hypothesized_mean = 30

t_statistic, p_value = stats.ttest_1samp(samples_array, 30)

print(t_statistic, p_value)

[19.86 46.1  35.6  ... 35.6  46.35 48.85]
20.6198057854942 4.3230240486229894e-92

In [52]:
df = sample_size - 1
confidence_level = 95

print(f"Sample Mean: {sample_mean:.2f}")
print(f"Sample Standard Deviation: {sample_std_dev:.2f}")
print(f"Sample Size: {sample_size}")
print(f"t-Statistic: {t_statistic:.2f}")
print(f"P-Value: {p_value:.4f}")
print(f"Critical t-Value for {confidence_level}% confidence level: ±{critical_t:.2f}")

alpha = 0.05  # For a 95% confidence level
if p_value < alpha:
    print(f"With a p-value of {p_value:.4f}, we reject the null hypothesis.")
else:
    print(f"With a p-value of {p_value:.4f}, we fail to reject the null hypothesis.")

Sample Mean: 32.79
Sample Standard Deviation: 12.11
Sample Size: 8022
t-Statistic: 20.62
P-Value: 0.0000
Critical t-Value for 95% confidence level: ±1.96
With a p-value of 0.0000, we reject the null hypothesis.

# Reto 3 - Construyendo Intervalos de Confianza

Aunque probar nuestra hipótesis es una excelente manera de obtener evidencia empírica para aceptar o rechazar la hipótesis, otra forma de recopilar evidencia es creando un intervalo de confianza. Un intervalo de confianza nos brinda información sobre la media verdadera de la población. Por lo tanto, para un intervalo de confianza del 95%, estamos seguros en un 95% de que la media de la población se encuentra dentro del intervalo de confianza.

Para leer más sobre los intervalos de confianza, haz clic [aquí](https://es.wikipedia.org/wiki/Intervalo_de_confianza).

En la celda a continuación, construiremos un intervalo de confianza del 95% para el salario por hora medio de todos los trabajadores por hora.

El intervalo de confianza se calcula en SciPy utilizando la función `t.interval`. Puedes leer más sobre esta función [aquí](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

Para calcular el intervalo de confianza del salario por hora, usa 0.95 para el nivel de confianza, el número de filas - 1 para los grados de libertad, la media de la muestra para el parámetro de ubicación y el error estándar para la escala. El error estándar se puede calcular utilizando [esta](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) función en SciPy.

In [62]:
print(samples_array)

[19.86 46.1  35.6  ... 35.6  46.35 48.85]

In [67]:
sample_mean = np.mean(samples_array)
sample_std_dev = np.std(samples_array, ddof=1)
sample_size = len(samples_array)

stats.sem(samples_array, axis=0, ddof=df)

confidence_interval = stats.t.interval(0.95, df, loc=sample_mean, scale=sem)

print("Mean is between " + str(confidence_interval[0]) + " and " + str(confidence_interval[0]) + "$ with a confidence of 95%")

Mean is between 32.52345834488425 and 32.52345834488425$ with a confidence of 95%

# Reto 4 - Pruebas de Hipótesis de Proporciones

Otro tipo de prueba de una muestra es una prueba de hipótesis de proporciones. En esta prueba, examinamos si la proporción de un grupo en nuestra muestra es significativamente diferente de una fracción.

Puedes leer más sobre las pruebas de proporción de una muestra [aquí](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

En la celda a continuación, utiliza la función `proportions_ztest` de `statsmodels` para realizar una prueba de hipótesis que determinará si el número de trabajadores por hora en la Ciudad de Chicago es significativamente diferente del 25% en el nivel de confianza del 95%.

In [91]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

hourly_workers = len(salaries.loc[salaries['Salary or Hourly'] == 'Hourly'])
all_salaries=(len(salaries))


count = hourly_workers
nobs = all_salaries
value = .05

stat, pval = proportions_ztest(count, nobs, 0.25)

print(stat, pval)

#It is significantly different

-3.5099964213703005 0.0004481127249057967